@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gaegu;
}
body{
    background-color: lightcoral;
    
}

h1 {
    font-size: 5em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: black;
}

h2{
    text-align: center;
    font-size: 3em;
}

#play-area{
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 80px;
}

#rock-el:hover, #paper-el:hover, #scissors-el:hover{
    box-shadow: 4px;
}



#scoreboard-el{
    display: flex;
    justify-content: space-between;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 50px;
    font-size: 2em;
    font-weight: bold;
}

#result-el{
    font-size: 2em;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}

#rematch{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 50px;
    font-size: 2em;
}
